<!DOCTYPE html>
<html >
<head lang="en">
<meta charset="UTF-8"> 
<title>上海移动PS业务查询系统</title>

<!--
<link rel="stylesheet" href="js/themes/default/theme.css"/>
<link rel="stylesheet" href="js/themes/default/menu.css"/>
-->
<link href="js/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="js/bootstrap/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="js/WebUI4Angular/themes/default/wi-all.css" />

	
<script src="js/Angular/angular.js"></script>
<script src="js/WebUI4Angular/WebUI4Angular-tpls-all.js"></script>
<script src="js/pagedata/TreeData.js"></script>
<script src="js/My97DatePicker/calendar.js"></script>
<script src="js/My97DatePicker/WdatePicker.js"></script>


<script >
var shmcc_app =  angular.module('shmcc_app',['ui.wisoft','ui.wisoft.tpls']);

var mainSubmitCtrl = ['$scope','$document','$compile',function($scope,$document,$compile) {
    var vm = $scope;
    
    vm.document = $document;

    function pad(num, n) {
        return (new Array(n >(''+num).length ? (n - (''+num).length+1) : 0).join('0') + num);
    };

    vm.date = '20'+pad(parseInt(Math.random()*14+1),2)+'-'+pad(parseInt(Math.random()*10+1),2)+'-'+pad(parseInt(Math.random()*28+1),2);
	var currdate = new Date();
	var predate = new Date(currdate.valueOf() + (-1 * 3600000));
	console.log(predate);
    vm.end_date = currdate.getFullYear()+"/"+(currdate.getMonth()+1)+"/"+currdate.getDate();
	vm.end_time = currdate.getHours()+":"+currdate.getMinutes()+":"+currdate.getSeconds();
	vm.begin_date = predate.getFullYear()+"/"+(predate.getMonth()+1)+"/"+predate.getDate();	
	vm.begin_time = predate.getHours()+":"+predate.getMinutes()+":"+predate.getSeconds();
	vm.begin_datetime = vm.begin_date + " " + vm.begin_time;
	vm.end_datetime = vm.end_date + " " + vm.end_time;
	
	vm.onPickedHandler = function (data) {
        alert(data)
    };

    vm.onClearedHandler = function (data) {
        alert("日期被清空")
    };
    
	vm.mydata = [
		{id:0,name:'15'},
		{id:1,name:'60'}
	];
    vm.mydata2 = [
		{id:0,name:'TAC'},
		{id:1,name:'MME'},
		{id:2,name:'Session'},
		{id:3,name:'SAEGW'}
	];
	vm.selected = vm.mydata[0];
	vm.selected2 = vm.mydata2[0];
    vm.itemChangeHandler = function (data){
        console.log(data);
        vm.selected = data;
    };
			
	vm.itemChangeHandler2 = function (data){
        console.log(data);
        vm.selected2 = data;
    };	
    
	vm.submitQuery = function($scope,$compile){
		var queryParameter={'startdate':'2016/12/20'};
		console.log(queryParameter);
		queryParameter['startDate'] = vm.begin_datetime;
		queryParameter['stopDate'] = vm.end_datetime;
		console.log(queryParameter);
		var div_unfill_p= angular.element(document.querySelector('#button_submit_p'));
		console.log("begin 1");
		var div_unfill= angular.element(document.querySelector('#button_submit'));
		console.log("begin 2");
		div_unfill.remove();
		console.log("begin 3");
		var new_div_unfill=angular.element("<div>");
		console.log("begin 4");
		new_div_unfill.attr("id","button_submit");
		console.log("begin 5");
		new_div_unfill.attr("un_fillcolumn","3");
		new_div_unfill.attr("modecolumn","3");
		console.log(new_div_unfill);
		div_unfill_p.append(new_div_unfill);
		console.log("begin 6");
		
		console.log($scope.currdata);
		$scope.currdata=$scope.datas[1];
		console.log($scope.currdata);
		//id="button_submit" ng-model="columnlen" unfillcolumn="4"></div>")

		//vm.$apply();
		//console.log("begin 7");
		//$compile(div_unfill_p.contents())($scope);
		//console.log("begin 8");
		//var unfill = $scope.document.find('unfillcolumn');
		//console.log(unfill);
		//unfill[0].attr('columns',3);
	};
}];

angular.module('ui.wisoft').controller('mainSubmitCtrl',mainSubmitCtrl);

var DataGridDemoExcelCtrl=['$scope',function($scope) {
	$scope.columns=[
		{id:0,name:"n1"},
		{id:1,name:"n2"},
		{id:2,name:"n3"},
		{id:3,name:"n4"},
		{id:4,name:"n5"}
	];
	var columninfo=$scope.columns;
	
	
	$scope.datas=[
		[
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"1",n2:"11",n3:"12",n4:"13",n5:"14"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"2",n2:"21",n3:"22",n4:"23",n5:"24"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"3",n2:"31",n3:"32",n4:"33",n5:"34"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"4",n2:"41",n3:"42",n4:"43",n5:"44"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:5,n2:"51",n3:"52",n4:"53",n5:"54"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:6,n2:"61",n3:"62",n4:"63",n5:"64"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"}
		]
	];
	
	var datas = $scope.datas;
	$scope.currdata = $scope.datas[1];
	$scope.columnlen=4;
	$scope.tabs=[
		{id:0,name:"tab1",col:columninfo,data:datas[0]},
		{id:1,name:"tab2",col:columninfo,data:datas[1]},
		{id:2,name:"tab3",col:columninfo,data:datas[2]},
		{id:3,name:"tab4",col:columninfo,data:datas[3]},
		{id:4,name:"tab5",col:columninfo,data:datas[4]},
		{id:5,name:"tab6",col:columninfo,data:datas[5]}
	];
	
    $scope.dg={};

    $scope.datagridhtml='<wi-tabset width="100%" height="600px" > \
				<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%" \
										 height="100%" ng-init="tabindex = $index"> \
									<unfillcolumn id="button_submit" columns="4"></unfillcolumn> \									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%" \
										 height="100%" ng-init="tabindex = $index"> \
										<wi-datagrid dataprovider="datas[$index]" wid="dg" width="100%" \ height="100%" pagemode="client" showno="true" 			showexcel="true"> \
										<wi-datagrid-column headtext="n1" datafield="n1" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n2" datafield="n2" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n3" datafield="n3" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n4" datafield="n4" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n5" datafield="n5" width="150px"></wi-datagrid-column> \
										</wi-datagrid> \
									</wi-tab> \
								</wi-tabset>'


    function pad(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    var dgData=[];

    for(var i=0;i<50;i++){
        var obj={};
        obj.username='username'+i;
        obj.address='address'+i;
        obj.date='2014-07-'+pad((i+1),2);
        obj.num = (i+1)*100;

        dgData.push(obj);
    }
    $scope.dgData = dgData;

    $scope.queryStatis = function() {
		var config = {
			transformResponse: function (data,headers) {
				if (headers("content-type") == "application/xml"
					&& angular.isString(data)) {
					StatsData = [];
					var titleElems = angular.element(data.trim()).find("name");
					for (var i = 0; i < titleElems.length; i++) {
						var title = titleElems.eq(i);
						console.log(title);
					}
				}
			}
		}
		$http.get(GetMMEStats,config).success(function(data){
			$scope.products = data;
		});
		
	}

	$scope.submitQuery = function(){
		/*
		var queryParameter={'startdate':'2016/12/21'};
		console.log(queryParameter);
		var div_unfill_p= angular.element(document.querySelector('#button_submit_p'));
		console.log("begin 11");
		var div_unfill= angular.element(document.querySelector('#button_submit'));
		console.log("begin 12");
		div_unfill.remove();
		console.log("begin 13");
		var new_div_unfill=angular.element("<div>");
		console.log("begin 14");
		new_div_unfill.attr("id","button_submit");
		console.log("begin 15");
		new_div_unfill.attr("un_fillcolumn","3");
		new_div_unfill.attr("modecolumn","3");
		console.log(new_div_unfill);
		//$compile(new_div_unfill.contents())($scope);
		div_unfill_p.append(new_div_unfill);
		console.log(div_unfill_p);
		
		console.log($scope.currdata);
		$scope.currdata=$scope.datas[1];
		console.log($scope.currdata);
		*/
		
		//console.log('button_datagrid click!');
		//console.log(this.currdata);
		//this.currdata=this.datas[2];
		//console.log(this.currdata);
		
		$scope.queryStatis();

		//id="button_submit" ng-model="columnlen" unfillcolumn="4"></div>")

		//vm.$apply();
		//console.log("begin 7");
		
		//console.log("begin 8");
		//var unfill = $scope.document.find('unfillcolumn');
		//console.log(unfill);
		//unfill[0].attr('columns',3);
	};

}];
angular.module('ui.wisoft').controller('DataGridDemoExcelCtrl',DataGridDemoExcelCtrl);

angular.module('ui.wisoft').factory('choosedataService',function(){
	
});

function submitQuery() {
	var btn_p = document.getElementById('button_submit_p');
	var btn = document.getElementById('button_submit');
	alert(btn.getAttribute("unfillcolumn"));
	//btn.setAttribute("unfillcolumn","3");
	btn_p.removeChild(btn);
	btn=document.createElement("div");
	btn.id='button_submit';
	btn.setAttribute('un_fillcolumn','3');
	btn_p.appendChild(btn);
	
};

/*
angular.module('ui.wisoft').directive("compile",function(){
	var compileObject = { 
  
		priority: 0, 
  
		link: function($scope,element,attr){
			var el=$compile(scope.datagridhtml)(scope); 
			element.append(el);
		},
  
 　　replace: false, 
  
 　　transclude: false, 
  
 　　restrict: 'EA', 
  
 　　scope: false, 
  
 　　
	}; 
	return compileObject; 
  
}); 
*/

angular.module('ui.wisoft').directive("unFillcolumn",["$compile",function($compile){

	var unfillcolumnnObject = { 
  
		priority: 0, 


		template: function(element,attr){
			//var data = $scope.columns;
			var data=attr['modecolumn'];
			//var data='4';
			console.log(data);
			
			//<wi-tabset width="100%" height="600px" >
			//<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
			//<wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
			//								 height="100%"
			//									pagemode="client" showno="true"
			//									showexcel="true">
			//var witab='<wi-tab heading="{{tab.name}}" active="true" width="100%" height="100%">';
			var witabset = '<wi-tabset width="100%" height="600px" >';
			var witable = '<wi-tab heading="tab" active="true" width="100%">';
			//var widatagrid='<wi-datagrid  dataProvider="datas[0]" wid="dg" width="100%" \
			//	height="100%"	pagemode="client" showno="true" \
			//	showexcel="true">';
			var widatagrid='<wi-datagrid  dataProvider="currdata" wid="dg" width="100%" \
				height="100%"	pagemode="client" showno="true" \
				showexcel="true">';
			var wicolumn = "";
			//if(angular.isArray(data)) {
				
				for (var i=0; i<data;i++){
					wicolumn = wicolumn + '<wi-datagrid-column headtext={{columns['+i+'].name}} \
					datafield={{columns['+i+'].name}} \
					width=150px > </wi-datagrid-column>';
					
				}
				
			//}
			widatagrid = widatagrid + wicolumn + "</wi-datagrid>"
			witabset = witabset + witable + widatagrid + '</wi-tab>' + '</wi-tabset>';
			console.log(witabset);
			return witabset;
			
			//scope.$apply()
		},

		controller: function($scope){
			$scope.currdata = $scope.datas[1];
		},
		//require: '?ngModel',
        //link: function($scope,$element,$attrs,ngModel){
        //	ngModel = ngModel || {
       	//		"$setViewValue" : angular.noop
       	//	}
       	//	ngModel.$render = function (val) {
       	//		$element.unfillcolumn('setTime', new Date(today.getTime() + val));
       	//	}
        //},
		/*
		link: function(scope, elm, iAttrs) {
				var gentemphtml = function(scope,element,attr){
					//var data = $scope.columns;
					//var data=attr['un_fillcolumn'];
					var data='4';
					console.log(data);
					
					//<wi-tabset width="100%" height="600px" >
					//<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
					//<wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
					//								 height="100%"
					//									pagemode="client" showno="true"
					//									showexcel="true">
					//var witab='<wi-tab heading="{{tab.name}}" active="true" width="100%" height="100%">';
					var witabset = '<wi-tabset width="100%" height="600px" >';
					var witable = '<wi-tab heading="tab" active="true" width="100%">';
					var widatagrid='<wi-datagrid  dataProvider="currdata" wid="dg" width="100%" \
						height="100%"	pagemode="client" showno="true" \
						showexcel="true">';
					var wicolumn = "";
					//if(angular.isArray(data)) {
						
						for (var i=0; i<data;i++){
							wicolumn = wicolumn + '<wi-datagrid-column headtext={{columns['+i+'].name}} \
							datafield={{columns['+i+'].name}} \
							width=150px > </wi-datagrid-column>';
							
						}
						
					//}
					widatagrid = widatagrid + wicolumn + "</wi-datagrid>"
					witabset = witabset + witable + widatagrid + '</wi-tab>' + '</wi-tabset>';
					console.log(witabset);
					return witabset;
					
					//scope.$apply()
				};
                var DUMMY_SCOPE = {
                        $destroy: angular.noop
                    },
                    root = elm,
                    childScope,
                    destroyChildScope = function() {
                        (childScope || DUMMY_SCOPE).$destroy();
                    };

				var genhtml = gentemphtml(scope, elm, iAttrs);
				
                iAttrs.$observe("modecolumn", function() {
					console.log('observe :genhtml' + genhtml);
                    if (genhtml) {
                        //destroyChildScope();
                        childScope = scope.$new(false);
                        var content = $compile(genhtml)(childScope);
						console.log(content);
                        //root.replaceWith(content);
                        //root = content;
						root.append(content);
                    }

                    //scope.$on("$destroy", destroyChildScope);
                });
				scope.$apply();
        },
*/

		replace: false, 
  		transclude: false, 
  		restrict: 'EA', 
  		scope: false, 
  
 　　
	}; 
	return unfillcolumnnObject; 
}]);

/*
angular.module('ui.wisoft').directive("unfillcolumn",function(){

	var unfillcolumnnObject = { 
  
		priority: 0, 

		template: function(element,attr){
			//var data = $scope.columns;
			var data=5;
			console.log(data);
			//<wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
			//								 height="100%"
			//									pagemode="client" showno="true"
			//									showexcel="true">
			var widatagrid=angular.element("<wi-datagrid>");
			widatagrid.attr('dataProvider',"datas[$index]");
			widatagrid.attr('wid','dg');
			widatagrid.attr('width',"100%");
			widatagrid.attr('height',"100%");
			widatagrid.attr('pagemode',"client");
			widatagrid.attr('showno',"true");
			widatagrid.attr('showexcel',"true");
			//if(angular.isArray(data)) {
				
				for (var i=0; i<5;i++){
					var wicolumn = angular.element("<wi-datagrid-column>");
					wicolumn.attr('headtext',data[i].name);
					wicolumn.attr('datafield',data[i].name);
					wicolumn.attr('width',"150px");
					widatagrid.append(wicolumn);
				}
				
			//}
			console.log(widatagrid.html());
			return widatagrid.html();
			
			//scope.$apply()
		},

		replace: false, 
  		transclude: false, 
  		restrict: 'EA', 
  		scope: false, 
  
 　　
	}; 
	return unfillcolumnnObject; 
});
*/
/*
angular.module('ui.wisoft').directive("unfillcolumn",function(){

	var unfillcolumnnObject = { 
  
		priority: 0, 

		link: function(scope,element,attr){
			var tabdata = scope.tabs;
			var columndata = scope.columns;
			//var data=5;
			//console.log(data);
			//<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
			//							 height="100%" ng-init="tabindex = $index">
			//<wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
			//								 height="100%"
			//									pagemode="client" showno="true"
			//
												
			for (var i=0; i<5;i++){
				var witab=angular.element("<wi-tab>");
				var widatagrid=angular.element("<wi-datagrid>");
				widatagrid.attr('dataProvider',"datas[$index]");
				widatagrid.attr('wid','dg');
				widatagrid.attr('width',"100%");
				widatagrid.attr('height',"100%");
				widatagrid.attr('pagemode',"client");
				widatagrid.attr('showno',"true");
				widatagrid.attr('showexcel',"true");
				
				for (var i=0; i<5;i++){
					var wicolumn = angular.element("<wi-datagrid-column>");
					wicolumn.attr('headtext',columndata[i].name);
					wicolumn.attr('datafield',columndata[i].name);
					wicolumn.attr('width',"150px");
					widatagrid.append(wicolumn);
				}
				witab.append(widatagrid);
				element.append(witab);
			}
			
			//if(angular.isArray(data)) {
				
				
				
			//}
			//element.append(widatagrid);
			//return element.;
			//console.log(widatagrid.length);
			//scope.$apply()
		},

		replace: false, 
  		transclude: false, 
  		restrict: 'EA', 
  		scope: false, 
  
 　　
	}; 
	return unfillcolumnnObject; 
});
*/

</script>

<script src="js/pagedata/MenuData.js"></script>
<!--<script src="js/pagedata/HttpGetData.js"></script>  -->

</head>
<body ng-app="shmcc_app" style="height: 100%;">
<p align="center">
<img src="images/Title.jpg" alt="SHMCC诺西PS网元管理系统" >
</p>

<div >
	<ng-include src="'js/pagedata/MenuData.html'">
	</ng-include>
</div>

<div>
    <div style=" margin:10px; width:98%; height: 800px; background-color: #fff;">
        <wi-hdividedbox style="border: solid 1px #ccc;">
            <wi-hdividedbox-group collapseto="left" collapsed="true" width="250px">
				
				<div ng-controller="TreeDemoSelectCtrl as sc">
				<div class="wi-clearf">
					<div style="margin:2px;width:98%; float:left;">
						<p style=" height:50px;">选择查询网元及指标</p>
						<div ng-show="isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData1"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
						<div ng-show="!isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData2"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
					</div>
				</div>
				</div>
			
			</wi-hdividedbox-group>
            
			<wi-hdividedbox-group collapsed="false">
				<div style=" margin:2px; width:100%; height:100%; background-color: #fff;">
					<wi-vdividedbox style="border: solid 1px #ccc;height:100%;">
						<wi-vdividedbox-group  
						collapseto="down" collapsed="false" height="100px">
					
							<div style="margin:5px;" ng-controller="mainSubmitCtrl">
								<span>统计时间区间：</span>
								<wi-datepicker style="margin:5px;top:10px;" ng-model="begin_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss"
									id="d1"	maxDate="#F{$dp.$D(\'d2\')||\'%y-%M-%d\'}">
								</wi-datepicker>
								~
								<wi-datepicker style="margin:5px;top:10px;"
                                 ng-model="end_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss" id="d2" minDate="#F{$dp.$D(\'d1\')}" maxDate="%y-%M-%d">
								</wi-datepicker>
								
								<br />
								<span>统计间隔：</span>
								<wi-comboBox dataProvider="mydata"
									selectedItem="selected"
									itemChange="itemChangeHandler"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								
								<span style="margin:5px;top:10px;">统计粒度</span>
								<wi-comboBox dataProvider="mydata2"
									selectedItem="selected2"
									itemChange="itemChangeHandler2"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								<wi-button style="margin:5px;top:10px;" label="提交查询" ng-click="submitQuery();"></wi-button>
							</div>
						</wi-vdividedbox-group>
						<wi-vdividedbox-group >
							<div id="button_submit_p" ng-controller="DataGridDemoExcelCtrl" width="100%" height="100%">
								<wi-button style="margin:5px;top:10px;" label="提交查询" ng-click="submitQuery();"></wi-button>
								<div id="button_submit" un_fillcolumn="4" modecolumn="4"></div>
								<!--<p ng-repeat="(key,value) in datas[0][1]">{{key}}={{value}}</p> -->   
								
								<!--
								<wi-tabset width="100%" height="600px" >
								
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
									<unfillcolumn id="button_submit" columns="4"></unfillcolumn> 
									
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
										
										<wi-datagrid dataprovider="datas[$index]" wid="dg" width="100%" height="100%" pagemode="client" showno="true" showexcel="true"><wi-datagrid-column headtext="n1" datafield="n1" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n2" datafield="n2" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n3" datafield="n3" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n4" datafield="n4" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n5" datafield="n5" width="150px"></wi-datagrid-column></wi-datagrid>
										
										 <wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
										 height="100%"
											pagemode="client" showno="true"
											showexcel="true">
											
											
											<wi-datagrid-column  headtext='n1' datafield='n1' width="150"></wi-datagrid-column>
											
											<wi-datagrid-column headtext="姓名" datafield="n1" width="150"></wi-datagrid-column>
											<wi-datagrid-column headtext="住址" datafield="n2" width="90"></wi-datagrid-column>
											<wi-datagrid-column headtext="日期" datafield="date" align='center'></wi-datagrid-column>
											<wi-datagrid-column headtext="数字" datafield="num"></wi-datagrid-column>
											
										</wi-datagrid>
									</wi-tab>
									
								</wi-tabset>
								-->
							</div>
						</wi-vdividedbox-group>
					</wi-vdividedbox>
				</div>
			</wi-hdividedbox-group>
		</wi-hdividedbox>
	</div>
</div>

</body>
</html>