<html >
<head lang="en">
<meta charset="UTF-8"> 
<title>上海移动PS业务查询系统</title>

<!--
<link rel="stylesheet" href="js/themes/default/theme.css"/>
<link rel="stylesheet" href="js/themes/default/menu.css"/>
-->
<link href="js/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="js/bootstrap/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="js/WebUI4Angular/themes/default/wi-all.css" />

	
<script src="js/Angular/angular.js"></script>
<script src="js/WebUI4Angular/WebUI4Angular-tpls-all.js"></script>
<script src="js/pagedata/TreeData.js"></script>
<script src="js/My97DatePicker/calendar.js"></script>
<script src="js/My97DatePicker/WdatePicker.js"></script>
<script src="js/scripts/xml2json.js"></script> 


<script >
var shmcc_app =  angular.module('shmcc_app',['ui.wisoft','ui.wisoft.tpls']);

var mainSubmitCtrl = ["$rootScope","$scope","$document","choosedataService","$http",function($rootScope,$scope,$document,choosedataService,$http) {
    var vm = $scope;
    
    vm.document = $document;
    vm.rootscope = $rootScope;

    function pad(num, n) {
        return (new Array(n >(''+num).length ? (n - (''+num).length+1) : 0).join('0') + num);
    };

    vm.date = '20'+pad(parseInt(Math.random()*14+1),2)+'-'+pad(parseInt(Math.random()*10+1),2)+'-'+pad(parseInt(Math.random()*28+1),2);
	var currdate = new Date();
	var predate = new Date(currdate.valueOf() + (-1 * 3600000));
	console.log(predate);
    vm.end_date = currdate.getFullYear()+"/"+(currdate.getMonth()+1)+"/"+currdate.getDate();
	vm.end_time = currdate.getHours()+":"+currdate.getMinutes()+":"+currdate.getSeconds();
	vm.begin_date = predate.getFullYear()+"/"+(predate.getMonth()+1)+"/"+predate.getDate();	
	vm.begin_time = predate.getHours()+":"+predate.getMinutes()+":"+predate.getSeconds();
	vm.begin_datetime = vm.begin_date + " " + vm.begin_time;
	vm.end_datetime = vm.end_date + " " + vm.end_time;
	
	vm.onPickedHandler = function (data) {
        alert(data)
    };

    vm.onClearedHandler = function (data) {
        alert("日期被清空")
    };
    
	vm.mydata = [
		{id:0,name:'15'},
		{id:1,name:'60'}
	];
    vm.mydata2 = [
		{id:0,name:'TAC'},
		{id:1,name:'MME'},
		{id:2,name:'Session'},
		{id:3,name:'SAEGW'}
	];
	vm.selected = vm.mydata[0];
	vm.selected2 = vm.mydata2[0];
    vm.itemChangeHandler = function (data){
        console.log(data);
        vm.selected = data;
    };
			
	vm.itemChangeHandler2 = function (data){
        console.log(data);
        vm.selected2 = data;
    };	
    
    vm.queryStatis = function() {
		var config = {
			transformResponse: function (data,headers) {
				//console.log(angular.element(data.trim()));
				//console.log(headers);
				//console.log('Content-type:' + headers("Content-type"));
				if (headers("Content-type") == "text/xml charset=GB2312;"
					&& angular.isString(data)) {
					//var StatsData = [];
					//var titleElems = angular.element(data.trim()).find("name");
					//console.log(titleElems);
					//for (var i = 0; i < titleElems.length; i++) {
					//	var title = titleElems.eq(i);
					//	console.log(title);
					//}
					//console.log('Response Data:' + data); 
					var x2js = new X2JS(); 
      				var aftCnv = x2js.xml_str2json(data);
      				//console.log('aftCnv ' + aftCnv); 
      				return aftCnv; 
				}
			}
		}

		var postconfig = {
			method:'post',  
   			url:'scripts/PM_statis_report.py',  
   			data:{startdate:"2017/02/11",starttime:"12:00",stopdate:"2017/02/11",stoptime:"13:00"},  
   			//data : "startdate='2017/02/11'",
			headers:{'Content-Type': 'application/x-www-form-urlencoded'},  
   			
			//transformRequest: function(data){
 			//   return $.param(data);
			//}

			transformRequest: function(data) {  
     			var str = [];  
     			for(var p in data){  
       				str.push(encodeURIComponent(p) + "=" + encodeURIComponent(data[p]));  
     			}  
     			return str.join("&");
				// console.log('postconfig:' + $.param(data));
				// return $.param(data);  
   			}	  
		};
		
		$http.get("scripts/PM_statis_report.py",config).success(function(data){
		//$http(postconfig).success(function(data){
			//console.log(data.response);
			//$scope.products = data;
			//$rootScope.columns = data.response.Title.name
			//console.log(data.response.Title.name.length);
			//for (var i = 0; i < 5; i++){
			//	console.log(data.response.Title.name[i]);
			//	$rootScope.columns[i].id = i;
			//	$rootScope.columns[i].name = data.response.Title.name[i];
			//	console.log($rootScope.columns[i].name);
			//}
			console.log(data.response);
			$rootScope.changecolumn(data.response.Title.name);
			$rootScope.changedatas(data.response.Item);

			var newtab = {id:6,name:"tab7",col:'111'};
			$rootScope.tabs.push(newtab);
			console.log('$rootScope.tabs: ');
			console.log($rootScope.tabs);
			//return data.response.Title.name;
			//$rootScope.$apply();
		});
		
	};

	$rootScope.changecolumn = function(names){
		// the old columns info in $scope
		//for (var i = 0; i < 5; i++){
		//	console.log($scope.columns[i].headtext);
		//}
		// the old columns info in $rootScope
		//for (var i = 0; i < 5; i++){
		//	console.log($rootScope.columns[i].headtext);
		//}
		// the new columns info
		for (var i = 0; i < 5; i++){
			//console.log(names[i]);
			$rootScope.columns_2[i].id = i;
			$rootScope.columns_2[i].headtext = names[i];
			console.log($rootScope.columns_2[i].headtext);
		}
		$rootScope.columns=$rootScope.columns_2;
		// the old columns info in $scope
		//for (var i = 0; i < 5; i++){
		//	console.log($scope.columns[i].headtext);
		//}
	}

	$rootScope.changedatas = function(datas){
		//$rootScope.datas[0]
		for (var i = 0; i < 5; i++){
			console.log(datas[i].ItemCol[i].value);
			$rootScope.datas[3][i].n1 = datas[i].ItemCol[0].value;
			$rootScope.datas[3][i].n2 = datas[i].ItemCol[1].value;
			$rootScope.datas[3][i].n3 = datas[i].ItemCol[2].value;
			$rootScope.datas[3][i].n4 = datas[i].ItemCol[3].value;
			$rootScope.datas[3][i].n5 = datas[i].ItemCol[4].value;
			//console.log($rootScope.currdata.name);
		}
		//$rootScope.currdata = $rootScope.datas[0];
	}

	vm.submitQuery = function(){
		var queryParameter={'startdate':'2016/12/20'};
		console.log(queryParameter);
		queryParameter['startDate'] = vm.begin_datetime;
		queryParameter['stopDate'] = vm.end_datetime;
		console.log(queryParameter);
		console.log(this.rootscope);
        //var rootscope=$scope.parent;
        //console.log($scope.parent);
        var dataindex = 2;
        dataindex=choosedataService.modify_dataindex(dataindex);
        console.log('dataindex='+dataindex);
        console.log(this.rootscope.currdata);
        this.rootscope.currdata = this.rootscope.datas[3];
        //this.currdata=this.datas[3];
		console.log(this.rootscope.currdata);
		//$scope.currdata=$scope.datas[1];
		//console.log($scope.currdata);
		//id="button_submit" ng-model="columnlen" unfillcolumn="4"></div>")

		//vm.$apply();
		//console.log("begin 7");
		//$compile(div_unfill_p.contents())($scope);
		//console.log("begin 8");
		//var unfill = $scope.document.find('unfillcolumn');
		//console.log(unfill);
		//unfill[0].attr('columns',3);
		//console.log('Start submitQuery!');
		var newcolumn = this.queryStatis();
		//console.log('finish submitQuery!');
		//for (var i = 0; i < 5; i++){
		//	this.rootscope.columns[i].id = i;
		//	this.rootscope.columns[i].name = newcolumn[i];
		//	console.log(this.rootscope.newcolumn[i]);
		//}

	};
}];

angular.module('ui.wisoft').controller('mainSubmitCtrl',mainSubmitCtrl);

var DataGridDemoExcelCtrl=['$rootScope','$scope',function($rootScope,$scope) {
	$rootScope.hykcolumns=[
		{id:0,name:"n1"},
		{id:1,name:"n2"},
		{id:2,name:"n3"},
		{id:3,name:"n4"},
		{id:4,name:"n5"}
	];

	$rootScope.columns_1=[
		{id:0,children:0,headtext:'mme1',datafield:"n1",name:"111"},
		{id:1,children:0,headtext:'mme2',datafield:"n2",name:"112"},
		{id:2,children:0,headtext:'mme3',datafield:"n3",name:"113"},
		{id:3,children:0,headtext:'mme4',datafield:"n4",name:"114"},
		{id:4,children:0,headtext:'mme5',datafield:"n5",name:"115"}
	];
	$rootScope.columns_2=[
		{id:0,children:0,headtext:'mme1',datafield:"n1",name:"111"},
		{id:1,children:0,headtext:'mme2',datafield:"n2",name:"112"},
		{id:2,children:0,headtext:'mme3',datafield:"n3",name:"113"},
		{id:3,children:0,headtext:'mme4',datafield:"n4",name:"114"},
		{id:4,children:0,headtext:'mme5',datafield:"n5",name:"115"}
	];
	$rootScope.columns=$rootScope.columns_1;

	var columninfo=$rootScope.columns;
	
	
	$rootScope.datas=[
		[
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"0",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"1",n2:"11",n3:"12",n4:"13",n5:"14"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"1",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"2",n2:"21",n3:"22",n4:"23",n5:"24"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"2",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"3",n2:"31",n3:"32",n4:"33",n5:"34"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"3",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:"4",n2:"41",n3:"42",n4:"43",n5:"44"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:"4",n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:5,n2:"51",n3:"52",n4:"53",n5:"54"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:5,n2:"1",n3:"2",n4:"3",n5:"4"}
		],
		[
		{n1:6,n2:"61",n3:"62",n4:"63",n5:"64"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"},
		{n1:6,n2:"1",n3:"2",n4:"3",n5:"4"}
		]
	];
	
	//var datas = $rootScope.datas;
	$rootScope.currdata = $rootScope.datas[1];
    //$rootScope.currdata = $rootScope.datas[1];
	$scope.columnlen=4;
	$rootScope.tabs=[
		{id:0,name:"tab1",col:columninfo},
		{id:1,name:"tab2",col:columninfo},
		{id:2,name:"tab3",col:columninfo},
		{id:3,name:"tab4",col:columninfo},
		{id:4,name:"tab5",col:columninfo},
		{id:5,name:"tab6",col:columninfo}
	];
	
    $scope.dg={};

    $scope.datagridhtml='<wi-tabset width="100%" height="600px" > \
				<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%" \
										 height="100%" ng-init="tabindex = $index"> \
									<unfillcolumn id="button_submit" columns="4"></unfillcolumn> \									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%" \
										 height="100%" ng-init="tabindex = $index"> \
										<wi-datagrid dataprovider="datas[$index]" wid="dg" width="100%" \ height="100%" pagemode="client" showno="true" 			showexcel="true"> \
										<wi-datagrid-column headtext="n1" datafield="n1" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n2" datafield="n2" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n3" datafield="n3" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n4" datafield="n4" width="150px"></wi-datagrid-column> \
										<wi-datagrid-column headtext="n5" datafield="n5" width="150px"></wi-datagrid-column> \
										</wi-datagrid> \
									</wi-tab> \
								</wi-tabset>'


    function pad(num, n) {
        return (Array(n).join(0) + num).slice(-n);
    }

    var dgData=[];

    for(var i=0;i<50;i++){
        var obj={};
        obj.username='username'+i;
        obj.address='address'+i;
        obj.date='2014-07-'+pad((i+1),2);
        obj.num = (i+1)*100;

        dgData.push(obj);
    }
    $scope.dgData = dgData;

    

	$scope.submitQuery = function(dataindex){
		
		console.log('button_datagrid click!');
		//console.log(this.currdata);
		//this.currdata=$rootScope.datas[dataindex];
		//console.log(this.currdata);
		$scope.queryStatis();
		
	};

}];
angular.module('ui.wisoft').controller('DataGridDemoExcelCtrl',DataGridDemoExcelCtrl);

angular.module('ui.wisoft').factory('choosedataService',function(){
	return {
        modify_dataindex: function(scope,dataindex){
            console.log("Service begin");
            
            //console.log(scope);
            //console.log(scope.currdata);
            //console.log(scope.datas[index]);
            //scope.currdata = scope.datas[index];
            //console.log(scope.currdata);
            dataindex=3;
            console.log("Service end");
            return dataindex;
        }
    }
});

function submitQuery() {
	var btn_p = document.getElementById('button_submit_p');
	var btn = document.getElementById('button_submit');
	alert(btn.getAttribute("unfillcolumn"));
	//btn.setAttribute("unfillcolumn","3");
	btn_p.removeChild(btn);
	btn=document.createElement("div");
	btn.id='button_submit';
	btn.setAttribute('un_fillcolumn','3');
	btn_p.appendChild(btn);
	
};



angular.module('ui.wisoft').directive("unFillcolumn",["$compile",function($compile){

	var unfillcolumnnObject = { 
  
		priority: 0, 


		template: function(element,attr){
			//var data = $scope.columns;
			var data=attr['modecolumn'];
			//var data='4';
			console.log(data);
			
			//<wi-tabset width="100%" height="600px" >
			//<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
			//<wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
			//								 height="100%"
			//									pagemode="client" showno="true"
			//									showexcel="true">
			//var witab='<wi-tab heading="{{tab.name}}" active="true" width="100%" height="100%">';
			var witabset = '<wi-tabset width="100%" height="600px" >';
			//var witable = '<wi-tab heading="tab" active="true" width="100%">';
			var witable = '<wi-tab ng-repeat="tab in tabs" heading={{tab.name}} active="true" width="100%">';
			//var widatagrid='<wi-datagrid  dataProvider="datas[0]" wid="dg" width="100%" \
			//	height="100%"	pagemode="client" showno="true" \
			//	showexcel="true">';
			var widatagrid='<wi-datagrid  dataProvider="currdata" wid="dg" width="100%" \
				height="100%" columns="columns" pagemode="client" showno="true" \
				showexcel="true">';
			var wicolumn = "";
			//if(angular.isArray(data)) {
				
				//for (var i=0; i<data;i++){
				//	wicolumn = wicolumn + '<wi-datagrid-column headtext={{hykcolumns['+i+'].name}} \
				//	datafield={{hykcolumns['+i+'].name}} \
				//	width=50px > </wi-datagrid-column>';	
				//}
				
				//for (var i=0; i<data;i++){
				//	wicolumn = wicolumn + '<wi-datagrid-column  \
				//	> </wi-datagrid-column>';	
				//}
				


			//}
			widatagrid = widatagrid + wicolumn + "</wi-datagrid>"
			witabset = witabset + witable + widatagrid + '</wi-tab>' + '</wi-tabset>';
			console.log(witabset);
			return witabset;
			
			//scope.$apply()
		},

		controller: function($rootScope){
			$rootScope.currdata = $rootScope.datas[1];
		},
		

		replace: false, 
  		transclude: false, 
  		restrict: 'EA', 
  		scope: false, 
  
 　　
	}; 
	return unfillcolumnnObject; 
}]);



</script>

<script src="js/pagedata/MenuData.js"></script>
<!--<script src="js/pagedata/HttpGetData.js"></script>  -->

</head>
<body ng-app="shmcc_app" style="height: 100%;">
<p align="center">
<img src="images/Title.jpg" alt="SHMCC诺西PS网元管理系统" >
</p>

<div >
	<ng-include src="'js/pagedata/MenuData.html'">
	</ng-include>
</div>

<div>
    <div style=" margin:10px; width:98%; height: 800px; background-color: #fff;">
        <wi-hdividedbox style="border: solid 1px #ccc;">
            <wi-hdividedbox-group collapseto="left" collapsed="true" width="250px">
				
				<div ng-controller="TreeDemoSelectCtrl as sc">
				<div class="wi-clearf">
					<div style="margin:2px;width:98%; float:left;">
						<p style=" height:50px;">选择查询网元及指标</p>
						<div ng-show="isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData1"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
						<div ng-show="!isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData2"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
					</div>
				</div>
				</div>
			
			</wi-hdividedbox-group>
            
			<wi-hdividedbox-group collapsed="false">
				<div style=" margin:2px; width:100%; height:100%; background-color: #fff;">
					<wi-vdividedbox style="border: solid 1px #ccc;height:100%;">
						<wi-vdividedbox-group  
						collapseto="down" collapsed="false" height="100px">
					
							<div style="margin:5px;" ng-controller="mainSubmitCtrl">
								<span>统计时间区间：</span>
								<wi-datepicker style="margin:5px;top:10px;" ng-model="begin_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss"
									id="d1"	maxDate="#F{$dp.$D(\'d2\')||\'%y-%M-%d\'}">
								</wi-datepicker>
								~
								<wi-datepicker style="margin:5px;top:10px;"
                                 ng-model="end_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss" id="d2" minDate="#F{$dp.$D(\'d1\')}" maxDate="%y-%M-%d">
								</wi-datepicker>
								
								<br />
								<span>统计间隔：</span>
								<wi-comboBox dataProvider="mydata"
									selectedItem="selected"
									itemChange="itemChangeHandler"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								
								<span style="margin:5px;top:10px;">统计粒度</span>
								<wi-comboBox dataProvider="mydata2"
									selectedItem="selected2"
									itemChange="itemChangeHandler2"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								<wi-button style="margin:5px;top:10px;" label="提交查询" ng-click="submitQuery();"></wi-button>
							</div>
						</wi-vdividedbox-group>
						<wi-vdividedbox-group >
							<div id="button_submit_p" ng-controller="DataGridDemoExcelCtrl" width="100%" height="100%">
								
								<div id="button_submit" un_fillcolumn="4" modecolumn="4"></div>
								<!--<p ng-repeat="(key,value) in datas[0][1]">{{key}}={{value}}</p> -->   
								
								<!--
								<wi-tabset width="100%" height="600px" >
								
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
									<unfillcolumn id="button_submit" columns="4"></unfillcolumn> 
									
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
										
										<wi-datagrid dataprovider="datas[$index]" wid="dg" width="100%" height="100%" pagemode="client" showno="true" showexcel="true"><wi-datagrid-column headtext="n1" datafield="n1" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n2" datafield="n2" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n3" datafield="n3" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n4" datafield="n4" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n5" datafield="n5" width="150px"></wi-datagrid-column></wi-datagrid>
										
										 <wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
										 height="100%"
											pagemode="client" showno="true"
											showexcel="true">
											
											
											<wi-datagrid-column  headtext='n1' datafield='n1' width="150"></wi-datagrid-column>
											
											<wi-datagrid-column headtext="姓名" datafield="n1" width="150"></wi-datagrid-column>
											<wi-datagrid-column headtext="住址" datafield="n2" width="90"></wi-datagrid-column>
											<wi-datagrid-column headtext="日期" datafield="date" align='center'></wi-datagrid-column>
											<wi-datagrid-column headtext="数字" datafield="num"></wi-datagrid-column>
											
										</wi-datagrid>
									</wi-tab>
									
								</wi-tabset>
								-->
							</div>
						</wi-vdividedbox-group>
					</wi-vdividedbox>
				</div>
			</wi-hdividedbox-group>
		</wi-hdividedbox>
	</div>
</div>

</body>
</html>