<html >
<head lang="en">
<meta charset="UTF-8"> 
<title>上海移动PS业务查询系统</title>

<!--
<link rel="stylesheet" href="js/themes/default/theme.css"/>
<link rel="stylesheet" href="js/themes/default/menu.css"/>
-->
<link href="js/bootstrap/bootstrap.css" rel="stylesheet" />
<link href="js/bootstrap/bootstrap-theme.css" rel="stylesheet" />
<link rel="stylesheet" href="js/WebUI4Angular/themes/default/wi-all.css" />

	


</head>
<body ng-app="shmcc_app" style="height: 100%;">
<p align="center">
<img src="images/Title.jpg" alt="SHMCC诺西PS网元管理系统" >
</p>

<div >
	<ng-include src="'js/pagedata/MenuData.html'">
	</ng-include>
</div>

<div>
    <div style=" margin:10px; width:98%; height: 800px; background-color: #fff;">
        <wi-hdividedbox style="border: solid 1px #ccc;">
            <wi-hdividedbox-group collapseto="left" collapsed="true" width="250px">
				
				<div ng-controller="TreeDemoSelectCtrl as sc">
				<div class="wi-clearf">
					<div style="margin:2px;width:98%; float:left;">
						<p style=" height:50px;">选择查询网元及指标</p>
						<div ng-show="isMME" style="height:200px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData_mme_element"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
						<div ng-show="isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData_mme_kpi"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
						<div ng-show="!isMME" style="height:200px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData_saegw_element"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
						<div ng-show="!isMME" style="height:400px;overflow: auto;border: solid 1px #ccc;">
							<wi-tree dataProvider="sc.cascadeData_saegw_kpi"
							multiselect="true"
							cascade="true"></wi-tree>
						</div>
					</div>
				</div>
				</div>
			
			</wi-hdividedbox-group>
            
			<wi-hdividedbox-group collapsed="false">
				<div style=" margin:2px; width:100%; height:100%; background-color: #fff;">
					<wi-vdividedbox style="border: solid 1px #ccc;height:100%;">
						<wi-vdividedbox-group  
						collapseto="down" collapsed="false" height="100px">
					
							<div style="margin:5px;" ng-controller="mainSubmitCtrl">
								<span>统计时间区间：</span>
								<wi-datepicker style="margin:5px;top:10px;" ng-model="begin_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss"
									id="d1"	maxDate="#F{$dp.$D(\'d2\')||\'%y-%M-%d\'}">
								</wi-datepicker>
								~
								<wi-datepicker style="margin:5px;top:10px;"
                                 ng-model="end_datetime" isShowClear="false" isShowToday="true" dateFmt="yyyy/MM/dd HH:mm:ss" id="d2" minDate="#F{$dp.$D(\'d1\')}" maxDate="%y-%M-%d">
								</wi-datepicker>
								
								<br />
								<span>统计间隔：</span>
								<wi-comboBox dataProvider="mydata"
									selectedItem="selected"
									itemChange="itemChangeHandler"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								
								<span style="margin:5px;top:10px;">统计粒度</span>
								<wi-comboBox dataProvider="mydata2"
									selectedItem="selected2"
									itemChange="itemChangeHandler2"
									width="145"
									rowCount="8"
									
								>
								</wi-comboBox>
								<wi-button style="margin:5px;top:10px;" label="提交查询" ng-click="submitQuery();"></wi-button>
							</div>
						</wi-vdividedbox-group>
						<wi-vdividedbox-group >
							<div id="button_submit_p" ng-controller="DataGridDemoExcelCtrl" width="100%" height="100%">
								
								<div id="button_submit" un_fillcolumn="4" modecolumn="4"></div>
								<!--<p ng-repeat="(key,value) in datas[0][1]">{{key}}={{value}}</p> -->   
								
								<!--
								<wi-tabset width="100%" height="600px" >
								
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
									<unfillcolumn id="button_submit" columns="4"></unfillcolumn> 
									
									<wi-tab ng-repeat="tab in tabs" heading="{{tab.name}}" active="true" width="100%"
										 height="100%" ng-init="tabindex = $index">
										
										<wi-datagrid dataprovider="datas[$index]" wid="dg" width="100%" height="100%" pagemode="client" showno="true" showexcel="true"><wi-datagrid-column headtext="n1" datafield="n1" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n2" datafield="n2" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n3" datafield="n3" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n4" datafield="n4" width="150px"></wi-datagrid-column><wi-datagrid-column headtext="n5" datafield="n5" width="150px"></wi-datagrid-column></wi-datagrid>
										
										 <wi-datagrid dataProvider="datas[$index]" wid="dg" width="100%"
										 height="100%"
											pagemode="client" showno="true"
											showexcel="true">
											
											
											<wi-datagrid-column  headtext='n1' datafield='n1' width="150"></wi-datagrid-column>
											
											<wi-datagrid-column headtext="姓名" datafield="n1" width="150"></wi-datagrid-column>
											<wi-datagrid-column headtext="住址" datafield="n2" width="90"></wi-datagrid-column>
											<wi-datagrid-column headtext="日期" datafield="date" align='center'></wi-datagrid-column>
											<wi-datagrid-column headtext="数字" datafield="num"></wi-datagrid-column>
											
										</wi-datagrid>
									</wi-tab>
									
								</wi-tabset>
								-->
							</div>
						</wi-vdividedbox-group>
					</wi-vdividedbox>
				</div>
			</wi-hdividedbox-group>
		</wi-hdividedbox>
	</div>
</div>

<script src="js/Angular/angular.js"></script>
<script src="js/WebUI4Angular/WebUI4Angular-tpls-all.js"></script>

<script src="js/My97DatePicker/calendar.js"></script>
<script src="js/My97DatePicker/WdatePicker.js"></script>
<script src="js/scripts/xml2json.js"></script> 

<script src="js/pagedata/mainSubmitCtrl.js"></script>
<script src="js/pagedata/DataGridDemoExcelCtrl.js"></script>
<script src="js/pagedata/choosedataService.js"></script>
<script src="js/pagedata/MenuData.js"></script>
<script src="js/pagedata/TreeData.js"></script>

</body>
</html>