<section class="post" style="width: 600px" ng-app="shmcc_app">
	<ol class="breadcrumb">
        <li><a href="#/">SHMCC_PS</a></li>
        <li class="active">Sign In</li>
    </ol>

	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label for="inputUsername" class="col-sm-4 control-label">Username</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="user.username">
				<input type="hidden" name="_csrf" value="{{csrftoken}}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputPassword" class="col-sm-4 control-label">Password</label>
			<div class="col-sm-4">
				<input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="user.password">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-4 col-sm-10">
				<button type="submit" id='signin' class="btn btn-default" ng-click="signIn(user.username, user.password)">Sign In</button>
				<button type="submit" class="btn btn-default" ng-click="toRegister()">Register</button>
			</div>
		</div>
		<div class="form-group" ng-if="!isAuthenticated && currentUser !== null">
			<div class="col-sm-offset-4 col-sm-10">
				<label for="inputUsername" class="col-sm-4 control-label">Username</label>	
			</div>
		</div>
	</form>
</section>