<!DOCTYPE html>
<html>
<head>
<title>SHMCC PS Web</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Deliccio Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="lib/jquery/jquery-2.0.3.min.js"></script>
<!--<script src="static/js/jquery-1.11.1.min.js"></script>-->
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=UnifrakturMaguntia' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:600,600italic,700,400' rel='stylesheet' type='text/css'>
<!-- FlexSlider -->
<link rel="stylesheet" href="static/css/flexslider.css" type="text/css" media="screen" />
<script defer src="static/js/jquery.flexslider.js"></script>
<script>
    $(window).load(function(){
        $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
            $('body').removeClass('loading');
        }
        });
        
        
    });
</script>
<!-- //FlexSlider -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--<style>
    @media screen and (max-width: 600px) { 

</style>
-->
</head>
	
<body>
<!-- banner --> 
<div class="banner" style="min-height:100px; height: 102px">
	<div class="container">
        <div id="includemenu"></div>
        <div class="header-nav" >
            <style scoped>
                nav.navbar {
                    background-color: transparent;
                }
                ul.nav.navbar-nav li a{
                    padding: 4px 15px 4px 15px;
                }
                .dropdown-toggle {
                    font-family: 'Varela Round', sans-serif;
                    font-size: 16px;
                }
                div#func-top-menu ul li a.dropdown-toggle:focus {
                    color: white;
                    background-color: transparent;
                }
                .dropdown-toggle:focus {
                    background-color: transparent;
                }
                ul.dropdown-menu {
                    color: black;
                    background-color: white;
                }
                ul.dropdown-menu li a{
                    font-family: 'Varela Round', sans-serif;
                    font-size: 12px;
                }
            </style>
            <nav class="navbar navbar-default">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <div class="logo">
                        <a class="navbar-brand" href="index_main_v2.html" style="font-size:28px; margin-right: 160px">上海移动数据核心网运维系统
                            <p style="font-size:14px; margin-top: 10px; margin-bottom: 10px">
                                Nokia PS Health
                            </p>    
                        </a>
                    </div>
                </div>
                <div id="currentUser" style="color:blanchedalmond ;margin-left: -9999px; margin-right:10px; text-align: right; font-family: 'Open Sans', sans-serif; font-size:14px; margin-top: 10px; margin-bottom: 10px">
                    <img src="images/iconuser_half2.png"></img>
                    <span style="color:blanchedalmond ;margin-left: 10px;" ng-bind="currentUser" ></span>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-wil" id="func-top-menu" style="margin-top: 20px">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/index_main_v2.html#" class="dropdown-toggle" data-toggle="dropdown">
                                数据查询
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="redirect('/index_kpi_v2.html')">指标及告警查询</a></li>
                                <li><a href="javascript:void(0);" onclick="redirect('/index_traffica_v2.html')">用户通话记录查询</a></li>
                                <li><a href="javascript:void(0);" onclick="redirect('/traffica/index.html')">新用户通话记录查询</a></li>
                                <li><a href="javascript:void(0);" onclick="redirect('/vuejs/dist/index.html')">用户话单查询</a></li>
                            </ul>
                        </li>
                                
                        <li>
                            <a href="/index_main_v2.html#" class="dropdown-toggle" data-toggle="dropdown">
                                智能运维
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0);" onclick="redirect('/angular/index.html?page=faulthandle')">智能巡检</a></li>
                                <li><a href="javascript:void(0);" onclick="redirect('/reactjs_portalframe/index.html')">智能监控</a></li>
                                <li><a href="javascript:void(0);" onclick="redirect('/angular/index.html?page=faulthandle')">智能流程</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/index_main_v2.html#" class="dropdown-toggle" data-toggle="dropdown">
                                辅助功能
                                <b class="caret"></b>
                            </a>
                            <ul id="externalpage" class="dropdown-menu">
                                <li>
                                    <!--<a href="javascript:void(0);" onclick="window.open('/epc-ices/login')">MAC系统</a>-->
                                    <a href="javascript:void(0);" onclick="openNewSite('MAC', 'window')">MAC系统</a>
                                </li>
                                <div class="divider"></div>
                                <li>
                                    <a href="javascript:void(0);" onclick="openNewSite('RTM', 'iframe')">RTM系统</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="openNewSite('GRAFANA', 'iframe')">实时监控(Grafana)系统</a>
                                </li>
                                <div class="divider"></div>
                                <li>
                                    <a href="javascript:void(0);" onclick="openNewSite('OldReportSuite', 'window')">ReportSuite系统 (MME/SAEGW)</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" onclick="openNewSite('NewReportSuite', 'window')">ReportSuite系统 (CMG)</a>
                                </li>
                                <div class="divider"></div>
                                <li><a href="javascript:void(0);" onclick="redirect('/angular/index.html?page=operation')">其他功能</a></li>
                            </ul>
                        </li>
                        <li ng-if="isUserAdmin" ng-controller="AdminUserCtrl">
                            <a href="javascript:void(0);" onclick="redirect('/angular/index.html?page=admin')" class="dropdown-toggle" data-toggle="dropdown">
                                配置管理
                            </a>
                        </li>
                        <li ng-controller="AdminUserCtrl">
                            <a href="/index_main_v2.html#" ng-click="logOut()" class="dropdown-toggle" data-toggle="dropdown">
                                退出
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </div>
    </div>
</div>

<iframe id="content" style="width:100%; min-height:800px; frameborder:0;" src="index_main_content.html"></iframe>

<div class="footer-bottom">
    <div class="container">	
        <div class="footer-row">
            <div class="col-md-12 footer-grids">
                <h4><a href="index_main_2.html">SHMCC PS Web</a></h4>
                <p><a href="mailto:huykailrui@163.com">huykailrui@163.com</a></p>
                <p>+86 18602002672</p>  
            </div>
        </div>	
        <div class="footer-row">
                <p>Copyright &copy; 2017.Company name All rights reserved. </p>
        </div>				
    </div>
</div>	
    <script src="static/js/bootstrap.js"> </script>
    <script src="static/js/environment_config.js"> </script>
    
    
<!-- //for bootstrap working -->
</body>
</html>